@import '../variable.scss';

.button {
  display: flex;
  justify-content: space-between;
  gap: 0 12px;
  align-items: center;
  padding: $indent-20 $indent-32 $indent-16;
  height: max-content;
  width: 100%;
  background-color: $color-red;
  color: $color-white;
  font-size: $typo-size-24;
  font-family: $body-font-family-odibee-sans;
  line-height: calc(1em + 6px);
  text-transform: uppercase;

  &:hover::after {
    transform: rotateZ(-90deg) translateY(10px);
  }

  &::after {
    content: '';
    height: 10px;
    width: 16px;
    background-image: url("data:image/svg+xml, %3Csvg id='arrow' className='arrow' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.96875 1.27344L8.24219 8.54687L15.5156 1.27344' stroke='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    transform: rotateZ(-90deg);
    transition: transform .5s;
  }

  @media (max-width: 425px) {
    padding: $indent-10 $indent-16 $indent-8;
  }
}
