@import '../variable.scss';

.text-color {
  grid-column: span 5;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: $indent-16;
  padding-bottom: $indent-16;
  text-transform: uppercase;
  font-family: $body-font-family-odibee-sans;

  span {
    color: $color-blue;
  }

  p:first-child {
    padding: 1px 3px;
  }

  @media (max-width: 1600px) {
    grid-column: span 6;
  }

  @media (max-width: 1080px) {
    grid-column: span 7;
  }

  @media (max-width: 769px) {
    grid-column: 1/-1;
  }
}

.text-color--bggreen {
  background-color: $color-green;
}
.text-color--bgblue {
  background-color: $color-blue;
}

.text-color--blue {
  color: $color-blue;
}
