@import '../variable.scss';

.footer {
  z-index: 3;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 $indent-52 $indent-64;
  transition:
    opacity .3s ease-out,
    padding .3s ease-out;

  .arrow {
    animation: arrow-down-up 2s linear infinite both;
  }

  .pre-text {
    top: 25%;
    transform: translate(-100%, -50%) rotateZ(-90deg);
    transform-origin: center center;
    transition: top .3s ease-in-out;
  }

  @media (max-width: 1080px) {
    padding: $indent-32 $indent-24 0;
  }

  @media (max-width: 769px) {
    padding: $indent-24 $indent-16 0;
  }

  @media (max-width: 426px) {
    opacity: 0;
    height: 0;
  }
}

.footer__scroll {
  grid-column: 12/ span 1;
  position: relative;
  grid-column-gap: 10px;
  height: 65px;
  width: 35px;
  pointer-events: none;

  .edge {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform .3s ease-in-out;

    svg path {
      transition: stroke 0.2s ease-out;
    }
   
    &:hover svg path {
      stroke: $color-red;
    }
  }

  &.footer__scroll--up {
    cursor: pointer;
    pointer-events: all;
  
    .edge {
      transform: rotateZ(180deg);

      path {
        transition: stroke .2s ease-out;
      }

      &:hover path {
        stroke: $color-red;
      }
    }

    .pre-text {
      top: 50%;
    }
  }

  @media (max-width: 769px) {
    grid-column: 2/ span 2;
  }

  @media (max-width: 425px) {
    grid-column: 1/-1;
  }
}

@keyframes arrow-down-up {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}
