@import '../variable.scss';

.header {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: grid;
  grid-column-gap: $indent-32;
  justify-content: space-between;
  padding: $indent-64 $indent-52 0;
  transition: padding .3s ease-out;

  @media (max-width: 1080px) {
    padding: $indent-32 $indent-24 0;
  }

  @media (max-width: 769px) {
    padding: $indent-24 $indent-16 0;
  }

  @media (max-width: 425px) {
    grid-row-gap: $indent-16;
  }
}

.header__menu {
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  width: max-content;
  padding: $indent-64 $indent-52 0 0;
  transition:
    padding .3s ease-out,
    top .3s ease-out,
    left .4s ease-out;

  @media (max-width: 768px) {
    padding: $indent-32 $indent-24 0 0;
  }

  @media (max-width: 425px) {
    top: $indent-64;
    left: $indent-32;
    right: unset;
  }
}

.menu__item {
  font-family: $body-font-family-odibee-sans;
  font-size: $typo-size-24;
  line-height: calc(1em + 6px);
  text-transform: uppercase;
  transition: color .3s ease-in;

  a {
    color: $color-white;
    transition: color .3s ease-out;

    &:active {
      border: none;
    }

    &:hover,
    &.active {
      color: $color-red;
    }

    &::before, &::after {
      display: none;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
    
  @media (max-width: 1080px) {
    font-size: $typo-size-20;
  }
  @media (max-width: 425px) {
    font-size: $typo-size-16;
  }
}

.menu__list {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: -18px;
    height: 100%;
    width: 1px;
    background-color: $color-gray-dark;

    @media (max-width: 425px) {
      left: unset;
      right: -12px;
    }
  }
}

.menu__item,
.menu__list {
  margin-bottom: $indent-32;
    
  @media (max-width: 425px) {
    margin-bottom: $indent-16;
  }
}

.menu__item--concept {
  position: relative;
  display: flex;
  flex-direction: column;

  &::after {
    content: 'concept';
    position: absolute;
    bottom: 0;
    color: $color-gray-dark;
    font-size: $typo-size-10;
    line-height: calc(1em + 6px);
    transform: translateY(100%);
  }
}
