@import '../variable.scss';

.header__logo {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  padding: $indent-64 0 0 $indent-52;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  transition:
  padding .3s ease-out,
  top .3s ease-out,
  left .4s ease-out;

  @media (max-width: 768px) {
    padding: $indent-32 0 0 $indent-24;
  }
}

.logo__title {
  font-family: $body-font-family-odibee-sans;
  font-size: $typo-size-40;
  line-height: calc(1em + 6px);
  margin-right: $indent-32;

  @media (max-width: 425px) {
    font-size: $typo-size-32;
  }
}

.logo__dectiprion {

  p {
    line-height: calc(1em + 4px);
  }
}

.logo__title,
.logo__dectiprion {
  p {
    color: $color-red;
  }
}