@import '../variable';

.main {
  position: relative;
  opacity: 1;
  grid-row-gap: 0;
  transition: opacity .3s ease-in-out;
}

.main__content {
  position: relative;
  align-items: center;
  min-height: 100vh;
  padding: 0 $indent-52;
  transition: padding .3s ease-out;

  .container {
    @media (max-width: 769px) {
      margin-bottom: 30%;
    }
    @media (max-width: 321px) {
      margin-bottom: 10%;
    }
  }

  @media (max-width: 1080px) {
    padding: 0 $indent-32;
  }
  @media (max-width: 769px) {
    padding: 0 $indent-24;
    align-items: end;
  }
}

.content__text {
  position: relative;

  &.content__text--btn {
    grid-column: 11/span 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .button {
      grid-column: 1/-1;
      margin-top: $indent-24;

      @media (max-width: 769px) {
        grid-column: span 2;
      }

      @media (max-width: 425px) {
        grid-column: 1/-1;
      }
    }

    @media (max-width: 1600px) {
      grid-column: 9/span 4;
    }

    @media (max-width: 1080px) {
      grid-column: 8/span 4;
    }

    @media (max-width: 769px) {
      grid-column: 1/-1;
    }
  }
  &.content__text--only {
    grid-column: 10/span 3;

    @media (max-width: 1600px) {
      grid-column: 8/span 5;
    }

    @media (max-width: 1080px) {
      grid-column: 5/span 8;
    }

    @media (max-width: 769px) {
      grid-column: 2/-1;
    }

    @media (max-width: 425px) {
      grid-column: 1/-2;
    }
  }
}

.container__contacts {
  position: relative;
  align-items: center;

  .button {
    grid-column: span 2;

    @media (max-width: 1600px) {
      grid-column: span 4;
    }

    @media (max-width: 769px) {
      grid-column: span 6;
    }

    @media (max-width: 425px) {
      grid-column: 1/-1;
    }
  }

  .icons {
    grid-column: 4/ span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1600px) {
      grid-column: 1/-1;
    }
  }

  .container__contacts-info {
    grid-column: 7/ span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 1600px) {
      grid-column: 1/-1;
    }

    @media (max-width: 769px) {
      grid-row-gap: $indent-8;
      margin-bottom: $indent-16;
    }
  }

  #part-circle {
    position: absolute;
    left: 65%;
    transform: rotateZ(0);

    @media (max-width: 1600px) {
      left: 45%;
      transform: rotateZ(8deg);
    }

    @media (max-width: 1080px) {
      display: none;
    }
  }

  .container__contacts-wrapper {
    grid-column: span 8;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: $indent-32;

    @media (max-width: 1600px) {
      grid-column: span 5;
      grid-template-columns: repeat(5, 1fr);
      grid-row-gap: $indent-16;
    }

    @media (max-width: 1080px) {
      grid-column: span 5;
    }

    @media (max-width: 769px) {
      grid-column: 1/-1;
      grid-template-columns: repeat(12, 1fr);
    }

    @media (max-width: 425px) {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  .content__text--only {
    @media (max-width: 1080px) {
      grid-column: 7/span 6;
    }

    @media (max-width: 769px) {
      grid-column: 2/-1;
      grid-template-columns: repeat(12, 1fr);
    }

    @media (max-width: 425px) {
      grid-column: span 5;
    }
  }
}

.privacy {
  .wrapper {
    grid-column: 3/ span 9;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    padding: 0 $indent-72;

    @media (max-width: 1600px) {
      grid-column: 2/ span 10;
    }
  }

  .section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .container {
    height: 100%;
    background-color: $color-white;
    padding: $indent-64 0;
  }

  .container__content {
    grid-column: 2/ span 9;
  }

  .text {
    margin-bottom: $indent-40;
  }

  p {
    color: $color-black;
    font-family: $body-font-family-roboto;
    font-size: $typo-size-16;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  a {
    font-style: italic;
    transition: font-weight .3s;

    &:hover {
      font-weight: bold;
    }
  }
}

.bottom {
  position: absolute;
  bottom: 50px;
  width: 100%;
  height: 5px;
}