@use '../variable' as *;

.modal {
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  opacity: 0;
  transition:
    opacity .5s ease-in-out,
    transform .3s ease-in-out;

  .container {
    grid-column: 1/-1;
    position: relative;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: $indent-32;

    .content {
      grid-column: span 6;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: $indent-64 0;
      padding: $indent-64;
      transition:
        opacity .5s ease-in-out,
        padding .3s ease-out;

      @media (max-width: 1600px) {
        padding: $indent-32;
      }

      @media (max-width: 1080px) {
        padding: $indent-16;
        min-height: 450px;
      }

      @media (max-width: 769px) {
        grid-column: 1/-1;
      }
    }

    .content__header h1 {
      margin-bottom: $indent-40;

      @media (max-width: 769px) {
        margin-bottom: $indent-20;
      }
    }

    .content__footer {
      display: flex;
      flex-direction: column;
      gap: 0;

      p {
        font-size: $typo-size-24;
        font-family: $body-font-family-odibee-sans;
        color: $color-black;
        text-transform: uppercase;

        @media (max-width: 1600px) {
          font-size: $typo-size-20;
        }

        @media (max-width: 1080px) {
          font-size: $typo-size-16;
        }
      }
    }
  }

  .container__privacy-policy .content {
    grid-column: 1/-1;
  }

  .image {
    grid-column: span 4;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: calc(100% + $indent-32);
    transition: opacity .5s ease-in-out;

    @media (max-width: 769px) {
      display: none;
    }
  }

  .video__container {
    position: relative;
    grid-column: 1/-1;
    height: max-content;

    video {
      position: static;
      transform: none;
    }
  }

  .video__mask {
    display: none;
  }

  .overlay {
    overflow-y: scroll;
  }

  .content {
    grid-column: 3/ span 10;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    opacity: 0;
    transition: opacity .3s ease;

    @media (max-width: 1600px) {
      grid-column: 4/ span 9;
    }

    @media (max-width: 1080px) {
      grid-column: 1/-1;
      grid-template-columns: repeat(6, 1fr);
      height: max-content;
    }
  }

  .button {
    max-width: max-content;
    margin-top: $indent-64;
  }

  .text-color p:nth-child(2) {
    color: $color-black;
  }

  &.modal--open {
    z-index: 9999;
    opacity: 1;
    transform: translateX(0);

    .image,
    .content {
      opacity: 1;
    }
  }

  &.privacy.modal--open {
    z-index: 1000;
    overflow: scroll;
  }
}

.modal__close {
  position: absolute;
  top: $indent-64;
  right: $indent-48;
  transition:
    top .3s ease-out,
    right .3s ease-out,;

  svg {
    transform-origin: center center;
    transition: transform .2s ease-out;
  }

  &:hover {
    svg {
      transform: rotateZ(-90deg);
    }
  }

  &:active {
    svg {
      transform: rotateZ(-180deg);
    }
  }

  @media (max-width: 1600px) {
    top: $indent-32;
    right: $indent-24;
  }
  
  @media (max-width: 1080px) {
    top: $indent-16;
    right: $indent-16;
  }
  @media (max-width: 321px) {
    top: $indent-16;
    right: $indent-8;

    svg {
      width: 32px;
    }
  }
}
