@import './variable';

h1 {
  text-transform: uppercase;
  margin-bottom: $indent-32;
  font-size: $typo-size-72;
  line-height: calc(1em + 8px);

  @media (max-width: 769px) {
    font-size: $typo-size-64;
    margin-bottom: $indent-16;
  }
}

h3 {
  margin-bottom: $indent-24;
  font-size: $typo-size-32;

  @media (max-width: 769px) {
    font-size: $typo-size-24;
    margin-bottom: $indent-16;
  }
}

h1,
h3 {
  font-family: $body-font-family-odibee-sans;
  color: $color-white;
}
.arrow {
  width: 11px;
  height: 11px;
}
.icon {
  width: 31px;
  height: 31px;
}
.pre-text {
  position: absolute;
  top: calc($indent-20 * -1);
  left: calc($indent-32 * -1);
  display: flex;
  font-family: $body-font-family-odibee-sans;
  font-size: $typo-size-12;
  line-height: calc(1em + 6px);
  text-transform: uppercase;
  transform-origin: bottom right;
  transform: translateX(-100%) rotateZ(-90deg);
  pointer-events: none;

  &.pre-text--gray {
    color: $color-gray-dark;
  }
  &.pre-text--red {
    color: $color-red;
  }

  @media (max-width: 425px) {
    top: -12px;
    left: unset;
    right: calc($indent-16 * -1);
    transform: translate(100%, 100%) rotateZ(90deg);
    transform-origin: 50% 50%;
  }
}

.offset--out-top {
  margin-top: $indent-100;
}

.bg {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &::after {
    z-index: 2;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, $color-black 10%, transparent 25%);
    transition: opacity .5s;
  }

  &.bg-about {
    background-image: url('../images/about-bg.png');
  }
  &.bg-gennady {
    background-image: url('../images/gennady-bg.png');
  }
  &.bg-throworm {
    background-image: url('../images/throworm-bg.png');
  }
  &.bg-contact {
    background-image: url('../images/contacts-bg.png');
  }
}

.text--small {
  font-family: $body-font-family-roboto;
  font-size: $typo-size-16;
  line-height: calc(1em + 6px);
}

.text--default {
  grid-column: 1/-1;
  font-size: $typo-size-24;
  font-family: $body-font-family-roboto;
  line-height: calc(1em + 6px);

  @media (max-width: 1080px) {
    font-size: $typo-size-20;
  }
  @media (max-width: 425px) {
    font-size: $typo-size-16;
  }
}

a:not(.button) {
  .icon {
    fill: $color-white;
    transition: fill 0.2s ease-out;
  }

  &:hover .icon {
    fill: $color-red;
  }
}

.underline {
  position: relative;

  &::before {
    z-index: 1;
    width: 0;
    opacity: 0;
    opacity: .2;
    background-color: $color-red;
  }

  &:after {
    width: 100%;
    background-color: $color-white;
    transform-origin: 100% 50%;
    transition: transform .3s ease-out;
  }

  &:after,
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    transition:
      width .3s ease-in-out,
      opacity .4s ease-out;
  }

  &:hover {
    &::before {
      opacity: 1;
      width: 100%;
    }

    &::after {
      transform: scaleX(1);
    }
  }
}

.white-theme {
  background-color: $color-white;

  h1, h3 {
    color: $color-black;
  }

  a.underline::after {
    background-color: $color-black;
  }
}

.mask {
  position: absolute;
  top: 0;
  height: 30%;
  width: 100%;
  background: linear-gradient(180deg, #000 5%, transparent 45%);
  transition: opacity .5s;
  pointer-events: none;

  @media (max-width: 1080px) {
    background: linear-gradient(180deg, $color-black 30%, transparent 35%);
  }

  @media (max-width: 769px) {
    background: linear-gradient(180deg, $color-black 0, transparent 40%);
  }
}

.bg .container + .mask,
video + .video__mask {
  top: unset;
  bottom: 0;
  transform: rotateZ(180deg);
}
