@import './variable.scss';

.grid-container {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: $indent-32;
  grid-row-gap: $indent-16;


  @media (max-width: 425px) {
    grid-template-columns: repeat(6, 1fr);
    grid-row-gap: 0;
  }
}
