// fonts-sizes
$typo-size-72: 72px;
$typo-size-64: 64px;
$typo-size-48: 48px;
$typo-size-40: 40px;
$typo-size-32: 32px;
$typo-size-24: 24px;
$typo-size-20: 20px;
$typo-size-16: 16px;
$typo-size-12: 12px;
$typo-size-10: 10px;

// font-family
$body-font-family-odibee-sans: 'Odibee Sans', Helvetica, Arial, sans-serif;
$body-font-family-roboto: 'Roboto', Helvetica, Arial, sans-serif;

// offset
$indent-200: 200px;
$indent-100: 100px;
$indent-72: 72px;
$indent-64: 64px;
$indent-52: 52px;
$indent-48: 48px;
$indent-40: 40px;
$indent-32: 32px;
$indent-24: 24px;
$indent-20: 20px;
$indent-16: 16px;
$indent-12: 12px;
$indent-10: 10px;
$indent-8: 8px;

// colors
$color-red: #FF3C63;
$color-white: #fff;
$color-black: #000;
$color-blue: #3C96FF;
$color-green: #00B553;
$color-gray-dark: #808183;
